/* Home styles */
/* ----------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.home {
  a {
    width: 25%;
    display: block;
    float: left;
  }
}

.week-one {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: rgb(54, 152, 89);
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: black;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: black;
    }
  }
}

.week-two {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: rgb(73, 28, 41);
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: yellowgreen;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: yellowgreen;
    }
  }
}

.week-three {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: #6184cc;
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: blue;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: blue;
    }
  }
}

.week-four {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: #D4A84C;
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: red;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: red;
    }
  }
}

.week-five {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: #97BEE4;
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: #1F5449;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: #1F5449;
    }
  }
}

.week-six {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: #7D7979;
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: #000669;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: #000669;
    }
  }
}

.week-seven {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: purple;
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: #B9B9B9;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: #B9B9B9;
    }
  }
}

.week-eight {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: #2F2F2F;
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: #41AB5E;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: #41AB5E;
    }
  }
}

.week-nine {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: #C7465C;
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: #91FFFC;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: #91FFFC;
    }
  }
}

.week-ten {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: #5E95C1;
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    color: #00FFF9;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: #00FFF9;
    }
  }
}


.week-title {
  font-weight: bolder;
  width: 100%;
  margin: 0 auto;
  padding-top: 55px;

  div {
    margin: 0 auto;
    display: table;
  }
}

.soon {
  width: 75% !important;

  div {
    margin: 0 auto;
  width: 85px;
  font-size: 20px;
  color: black;
  margin-top: 14%;
  }
}
