/* Home styles */
/* ----------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.week-one {
  width: 25%;
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: rgb(54, 152, 89);
}

.week-title {
  font-weight: bolder;
  width: 147px;
  margin: 0 auto;
  padding-top: 55px;
}

