/* Home styles */
/* ----------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.home {
  a {
    width: 25%;
    display: block;
    float: left;
  }
}

.week-one {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: rgb(54, 152, 89);
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: black;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: black;
    }
  }
}

.week-two {
  height: 300px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 30px;
  background-color: rgb(73, 28, 41);
  cursor: pointer;

  svg {
    margin: 0 auto;
    display: block;
    fill: white;
  }

  &:hover {
    opacity: 0.6;
    color: yellowgreen;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    svg {
      fill: yellowgreen;
    }
  }
}

.week-title {
  font-weight: bolder;
  width: 150px;
  margin: 0 auto;
  padding-top: 55px;
}

.soon {
  width: 75% !important;

  div {
    margin: 0 auto;
  width: 85px;
  font-size: 20px;
  color: black;
  margin-top: 14%;
  }
}
