.application2 {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;

  p {
    color: white;
    margin-top: 50px;
  }
}


.intercessory-prayer {
  background-color: rgb(116, 116, 150);
  height: 100%;
  float: left;
  width: 100%;
}


.pray-slogan {
  font-size: 26px;
  font-weight: bold;
  display: table;
  margin: 0 auto;
  color: white;

 }
